.formDiv {
    margin: 2%;
}
.formButton {
  margin: 15px
}







/* OCTOBERCMS CSS */
.form-breadcrumb {
    margin-bottom: 10px;
    background-color: #d0d9dd;
    height: 45px;
  }
  .form-breadcrumb ul {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .form-breadcrumb ul li:first-child{
    padding-left: 20px;
  }
  .form-breadcrumb li:last-child {
    background-color: transparent;
    color: #2a3e51;
  }
  .form-breadcrumb li:last-child:after {display:none}
  .form-breadcrumb ul li{
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 12px 10px 12px 30px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #9098a2;
  }
  .form-breadcrumb li:before {
      right: -15px;
      z-index: 9;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 22.5px solid transparent;
      border-bottom: 22.5px solid transparent;
      border-left: 15px solid #d0d9dd;
  }
  .form-breadcrumb li:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 22.5px solid transparent;
      border-bottom: 22.5px solid transparent;
      border-left: 15px solid #9098a2;
  }
  .form-breadcrumb li:before, .form-breadcrumb li:after {
      top: 0;
      right: -14px;
      position: absolute;
      z-index: 10;
  }
  .form-breadcrumb li a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
  }
