.vgt-table.striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.vgt-right-align {
  text-align: right;
}
.vgt-left-align {
  text-align: left;
}
.vgt-center-align {
  text-align: center;
}
.vgt-pull-left {
  float: left !important;
}
.vgt-pull-right {
  float: right !important;
}
.vgt-clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.vgt-responsive {
  width: 100%;
  overflow-x: auto;
  position: relative;
}
.vgt-text-disabled {
  color: #909399;
}
.vgt-wrap {
  position: relative;
}
.vgt-fixed-header {
  position: absolute;
  z-index: 10;
  overflow-x: auto;
}
table.vgt-table {
  font-size: 14px;
  border-collapse: collapse;
  background-color: #ecf0f1;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border: 1px solid #d4d8da;
}
table.vgt-table td {
  padding: 0.75em 0.75em 0.75em 0.75em;
  vertical-align: top;
  border-bottom: 2px solid white;
  color: #666;
}
table.vgt-table tr.clickable {
  cursor: pointer;
}
table.vgt-table tr:hover {
  background-color: #4EA5E0;
}
table.vgt-table tr:hover td *{
  color: white;
}
.vgt-table.striped tbody tr:nth-of-type(odd):hover {
  background-color: #4EA5E0;
}
.vgt-table th {
  padding: 0.75em 1.5em 0.75em 0.75em;
  vertical-align: middle;
  position: relative;
}
.vgt-table th.sortable {
  cursor: pointer;
}
.vgt-table th.sortable:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: 6px;
  top: 50%;
  margin-top: -7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #cfd3e0;
}
.vgt-table th.sortable:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: 6px;
  top: 50%;
  margin-bottom: -7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cfd3e0;
}
.vgt-table th.line-numbers,
.vgt-table th.vgt-checkbox-col {
  padding: 0 0.75em 0 0.75em;
  color: #666;
  border-right: 1px solid #d4d8da;
  word-wrap: break-word;
  width: 25px;
  text-align: center;
  background: linear-gradient(#f4f5f8, #f1f3f6);
}
.vgt-table th.filter-th {
  padding: 0.75em 0.75em 0.75em 0.75em;
}
.vgt-table th.vgt-row-header {
  border-bottom: 2px solid #d4d8da;
  border-top: 2px solid #d4d8da;
  background-color: #fafafb;
}
.vgt-table th.vgt-row-header .triangle {
  width: 24px;
  height: 24px;
  border-radius: 15%;
  position: relative;
  margin: 0 8px;
}
.vgt-table th.vgt-row-header .triangle:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #666;
  margin-left: -3px;
  transition: 0.3s ease transform;
}
.vgt-table th.vgt-row-header .triangle.expand:after {
  transform: rotate(90deg);
}
.vgt-table thead th {
  color: #666;
  vertical-align: bottom;
  border-bottom: 2px solid #d4d8da;
  padding-right: 1.5em;
  background: white;
}
.vgt-table thead th.vgt-checkbox-col {
  vertical-align: middle;
}
.vgt-table thead th.sorting-asc:after {
  border-bottom: 5px solid #409eff;
}
.vgt-table thead th.sorting-desc:before {
  border-top: 5px solid #409eff;
}
.vgt-input,
.vgt-select {
  width: 100%;
  height: 32px;
  line-height: 1;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  color: #666;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: none;
  background-color: #fff;
  border: 1px solid #d4d8da;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.vgt-input::placeholder,
.vgt-select::placeholder {
  color: #666;
  opacity: 0.3;
}
.vgt-input:focus,
.vgt-select:focus {
  outline: 0;
  border-color: #409eff;
}
.vgt-loading {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: 117px;
}
.vgt-loading__content {
  background-color: #c0dfff;
  color: #409eff;
  padding: 7px 30px;
  border-radius: 3px;
}
.vgt-inner-wrap.is-loading {
  opacity: 0.5;
  pointer-events: none;
}
.vgt-table.bordered td,
.vgt-table.bordered th {
  border: 1px solid #d4d8da;
}
.vgt-table.bordered th.vgt-row-header {
  border-bottom: 3px solid #d4d8da;
}
.vgt-wrap.rtl {
  direction: rtl;
}
.vgt-wrap.rtl .vgt-table thead th,
.vgt-wrap.rtl .vgt-table.condensed thead th {
  padding-left: 1.5em;
  padding-right: 0.75em;
}
.vgt-wrap.rtl .vgt-table th.sorting-asc:after,
.vgt-wrap.rtl .vgt-table th.sorting:after {
  margin-right: 5px;
  margin-left: 0;
}
.vgt-wrap.rtl .vgt-table th.sortable:after,
.vgt-wrap.rtl .vgt-table th.sortable:before {
  right: inherit;
  left: 6px;
}
.vgt-table.condensed td,
.vgt-table.condensed th.vgt-row-header {
  padding: 0.4em 0.4em 0.4em 0.4em;
}
@media (max-width: 576px) {
  .vgt-compact * {
    box-sizing: border-box;
  }
  .vgt-compact tbody,
  .vgt-compact td,
  .vgt-compact tr {
    display: block;
    width: 100%;
  }
  .vgt-compact thead {
    display: none;
  }
  .vgt-compact tr {
    margin-bottom: 15px;
  }
  .vgt-compact td {
    text-align: right;
    position: relative;
  }
  .vgt-compact td:before {
    content: attr(data-label);
    position: relative;
    float: left;
    left: 0;
    width: 40%;
    padding-left: 10px;
    font-weight: 700;
    text-align: left;
  }
  .vgt-compact th.line-numbers {
    width: 100% !important;
    display: block;
    padding: 0.3em 1em !important;
  }
}
.vgt-global-search {
  padding: 5px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  border: 1px solid #d4d8da;
  border-bottom: 0;
  background: linear-gradient(#f4f5f8, #f1f3f6);
}
.vgt-global-search__input {
  position: relative;
  padding-left: 40px;
  flex-grow: 1;
}
.vgt-global-search__input .input__icon {
  position: absolute;
  left: 0;
  max-width: 32px;
}
.vgt-global-search__input .input__icon .magnifying-glass {
  margin-top: 3px;
  margin-left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #d6dae2;
  position: relative;
  border-radius: 50%;
}
.vgt-global-search__input .input__icon .magnifying-glass:before {
  content: "";
  display: block;
  position: absolute;
  right: -7px;
  bottom: -5px;
  background: #d6dae2;
  width: 8px;
  height: 4px;
  border-radius: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.vgt-global-search__actions {
  margin-left: 10px;
}
.vgt-selection-info-row {
  background: #fdf9e8;
  padding: 5px 16px;
  font-size: 13px;
  border-top: 1px solid #d4d8da;
  border-left: 1px solid #d4d8da;
  border-right: 1px solid #d4d8da;
  color: #d3aa3b;
  font-weight: 700;
}
.vgt-selection-info-row a {
  font-weight: 700;
  display: inline-block;
  margin-left: 10px;
}
.vgt-wrap__actions-footer {
  border: 1px solid #d4d8da;
}
.vgt-wrap__footer {
  color: #666;
  padding: 1em;
  border: 1px solid #d4d8da;
  background: linear-gradient(#f4f5f8, #f1f3f6);
}
.vgt-wrap__footer .footer__row-count__label,
.vgt-wrap__footer .footer__row-count__select {
  display: inline-block;
  vertical-align: middle;
}
.vgt-wrap__footer .footer__row-count__label {
  font-size: 14px;
  color: #909399;
}
.vgt-wrap__footer .footer__row-count__select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  font-size: 14px;
  margin-left: 8px;
  color: #666;
  font-weight: 700;
}
.vgt-wrap__footer .footer__row-count__select:focus {
  outline: 0;
  border-color: #409eff;
}
.vgt-wrap__footer .footer__navigation {
  font-size: 14px;
}
.vgt-wrap__footer .footer__navigation__info,
.vgt-wrap__footer .footer__navigation__page-btn,
.vgt-wrap__footer .footer__navigation__page-info {
  display: inline-block;
  vertical-align: middle;
}
.vgt-wrap__footer .footer__navigation__page-btn {
  text-decoration: none;
  color: #666;
  font-weight: 700;
  white-space: nowrap;
}
.vgt-wrap__footer .footer__navigation__page-btn:focus {
  outline: 0;
  border: 0;
}
.vgt-wrap__footer .footer__navigation__page-btn.disabled,
.vgt-wrap__footer .footer__navigation__page-btn.disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
.vgt-wrap__footer .footer__navigation__page-btn.disabled .chevron.left:after,
.vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.left:after {
  border-right-color: #666;
}
.vgt-wrap__footer .footer__navigation__page-btn.disabled .chevron.right:after,
.vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.right:after {
  border-left-color: #666;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron {
  width: 24px;
  height: 24px;
  border-radius: 15%;
  position: relative;
  margin: 0 8px;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron.left::after {
  border-right: 6px solid #409eff;
  margin-left: -3px;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron.right::after {
  border-left: 6px solid #409eff;
  margin-left: -3px;
}
.vgt-wrap__footer .footer__navigation__info,
.vgt-wrap__footer .footer__navigation__page-info {
  display: inline-block;
  color: #909399;
  margin: 0 16px;
}
.vgt-wrap__footer .footer__navigation__page-info__current-entry {
  width: 30px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  font-weight: 700;
}
@media only screen and (max-width: 750px) {
  .vgt-wrap__footer .footer__navigation__info {
    display: none;
  }
  .vgt-wrap__footer .footer__navigation__page-btn {
    margin-left: 16px;
  }
}
.vgt-table.nocturnal {
  border: 1px solid #435169;
  background-color: #324057;
}
.vgt-table.nocturnal tr.clickable:hover {
  background-color: #445168;
}
.vgt-table.nocturnal td {
  border-bottom: 1px solid #435169;
  color: #c7ced8;
}
.vgt-table.nocturnal th.line-numbers,
.vgt-table.nocturnal th.vgt-checkbox-col {
  color: #c7ced8;
  border-right: 1px solid #435169;
  background: linear-gradient(#2c394f, #2c394f);
}
.vgt-table.nocturnal thead th {
  color: #c7ced8;
  border-bottom: 1px solid #435169;
  background: linear-gradient(#2c394f, #2c394f);
}
.vgt-table.nocturnal thead th.sortable:before {
  border-top-color: #3e5170;
}
.vgt-table.nocturnal thead th.sortable:after {
  border-bottom-color: #3e5170;
}
.vgt-table.nocturnal thead th.sortable.sorting-asc {
  color: #fff;
}
.vgt-table.nocturnal thead th.sortable.sorting-asc:after {
  border-bottom-color: #409eff;
}
.vgt-table.nocturnal thead th.sortable.sorting-desc {
  color: #fff;
}
.vgt-table.nocturnal thead th.sortable.sorting-desc:before {
  border-top-color: #409eff;
}
.vgt-table.nocturnal.bordered td,
.vgt-table.nocturnal.bordered th {
  border: 1px solid #435169;
}
.vgt-table.nocturnal .vgt-input,
.vgt-table.nocturnal .vgt-select {
  color: #c7ced8;
  background-color: #232d3f;
  border: 1px solid #435169;
}
.vgt-table.nocturnal .vgt-input::placeholder,
.vgt-table.nocturnal .vgt-select::placeholder {
  color: #c7ced8;
  opacity: 0.3;
}
.vgt-wrap.nocturnal .vgt-wrap__footer {
  color: #c7ced8;
  border: 1px solid #435169;
  background: linear-gradient(#2c394f, #2c394f);
}
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__row-count__label {
  color: #8290a7;
}
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__row-count__select {
  color: #c7ced8;
}
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__row-count__select:focus {
  border-color: #409eff;
}
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__navigation__page-btn {
  color: #c7ced8;
}
.vgt-wrap.nocturnal
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled
  .chevron.left:after,
.vgt-wrap.nocturnal
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.left:after {
  border-right-color: #c7ced8;
}
.vgt-wrap.nocturnal
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled
  .chevron.right:after,
.vgt-wrap.nocturnal
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.right:after {
  border-left-color: #c7ced8;
}
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__navigation__info,
.vgt-wrap.nocturnal .vgt-wrap__footer .footer__navigation__page-info {
  color: #8290a7;
}
.vgt-wrap.nocturnal .vgt-global-search {
  border: 1px solid #435169;
  background: linear-gradient(#2c394f, #2c394f);
}
.vgt-wrap.nocturnal .vgt-global-search__input .input__icon .magnifying-glass {
  border: 2px solid #3f4c63;
}
.vgt-wrap.nocturnal
  .vgt-global-search__input
  .input__icon
  .magnifying-glass:before {
  background: #3f4c63;
}
.vgt-wrap.nocturnal .vgt-global-search__input .vgt-input,
.vgt-wrap.nocturnal .vgt-global-search__input .vgt-select {
  color: #c7ced8;
  background-color: #232d3f;
  border: 1px solid #435169;
}
.vgt-wrap.nocturnal .vgt-global-search__input .vgt-input::placeholder,
.vgt-wrap.nocturnal .vgt-global-search__input .vgt-select::placeholder {
  color: #c7ced8;
  opacity: 0.3;
}
.vgt-table.black-rhino {
  border: 1px solid #435169;
  background-color: #dfe5ee;
}
.vgt-table.black-rhino tr.clickable:hover {
  background-color: #fff;
}
.vgt-table.black-rhino td {
  border-bottom: 1px solid #bbc5d6;
  color: #49515e;
}
.vgt-table.black-rhino th.line-numbers,
.vgt-table.black-rhino th.vgt-checkbox-col {
  color: #dae2f0;
  border-right: 1px solid #435169;
  background: linear-gradient(#4c5c79, #4e5d7c);
}
.vgt-table.black-rhino thead th {
  color: #dae2f0;
  text-shadow: 1px 1px #3e5170;
  border-bottom: 1px solid #435169;
  background: linear-gradient(#4c5c79, #4e5d7c);
}
.vgt-table.black-rhino thead th.sortable:before {
  border-top-color: #607498;
}
.vgt-table.black-rhino thead th.sortable:after {
  border-bottom-color: #607498;
}
.vgt-table.black-rhino thead th.sortable.sorting-asc {
  color: #fff;
}
.vgt-table.black-rhino thead th.sortable.sorting-asc:after {
  border-bottom-color: #409eff;
}
.vgt-table.black-rhino thead th.sortable.sorting-desc:before {
  border-top-color: #409eff;
}
.vgt-table.black-rhino.bordered td {
  border: 1px solid #bbc5d6;
}
.vgt-table.black-rhino.bordered th {
  border: 1px solid #435169;
}
.vgt-table.black-rhino .vgt-input,
.vgt-table.black-rhino .vgt-select {
  color: #dae2f0;
  background-color: #34445f;
  border: 1px solid transparent;
}
.vgt-table.black-rhino .vgt-input::placeholder,
.vgt-table.black-rhino .vgt-select::placeholder {
  color: #dae2f0;
  opacity: 0.3;
}
.vgt-wrap.black-rhino .vgt-wrap__footer {
  color: #dae2f0;
  border: 1px solid #435169;
  background: linear-gradient(#4c5c79, #4e5d7c);
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count {
  position: relative;
  padding-right: 3px;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count__label {
  color: #98a5b9;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count__select {
  color: #49515e;
  background: #dfe5ee;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 3px;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count__select::-ms-expand {
  display: none;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count__select:focus {
  border-color: #409eff;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__row-count::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  right: 6px;
  top: 50%;
  margin-top: -1px;
  border-top: 6px solid #49515e;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  pointer-events: none;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__navigation__page-btn {
  color: #dae2f0;
}
.vgt-wrap.black-rhino
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled
  .chevron.left:after,
.vgt-wrap.black-rhino
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.left:after {
  border-right-color: #dae2f0;
}
.vgt-wrap.black-rhino
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled
  .chevron.right:after,
.vgt-wrap.black-rhino
  .vgt-wrap__footer
  .footer__navigation__page-btn.disabled:hover
  .chevron.right:after {
  border-left-color: #dae2f0;
}
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__navigation__info,
.vgt-wrap.black-rhino .vgt-wrap__footer .footer__navigation__page-info {
  color: #dae2f0;
}
.vgt-wrap.black-rhino .vgt-global-search {
  border: 1px solid #435169;
  background: linear-gradient(#4c5c79, #4e5d7c);
}
.vgt-wrap.black-rhino .vgt-global-search__input .input__icon .magnifying-glass {
  border: 2px solid #3f4c63;
}
.vgt-wrap.black-rhino
  .vgt-global-search__input
  .input__icon
  .magnifying-glass:before {
  background: #3f4c63;
}
.vgt-wrap.black-rhino .vgt-global-search__input .vgt-input,
.vgt-wrap.black-rhino .vgt-global-search__input .vgt-select {
  color: #dae2f0;
  background-color: #44516c;
  border: 1px solid transparent;
}
.vgt-wrap.black-rhino .vgt-global-search__input .vgt-input::placeholder,
.vgt-wrap.black-rhino .vgt-global-search__input .vgt-select::placeholder {
  color: #dae2f0;
  opacity: 0.3;
}
