<template>
    <div>
        <b-button class="delete-btn" v-b-modal.delete-modal :disabled="deleteBtnDisabled" variant="secondary">Delete selected</b-button>

        <b-modal
        id="delete-modal"
        centered
        hide-header-close
        no-close-on-backdrop
        hide-header
        @ok="deleteRecords"
        >
        Are you sure you want to delete the selected {{ this.controllerName }}?
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    props: {
        controllerName: {
            type: String,
            default: "pets"
        },
        pluginName: {
            type: String,
            default: "pet"
        },
        selectedRows: {
            type: Array,
            default: null
        },
        vendor: {
            type: String,
            default: 'appcustomer'
        }
    },

    watch: {
      'selectedRows': function () {
        this.deleteBtnDisabled = this.selectedRows.length ? false : true
      }
    },

    data() {
        return {
            deleteBtnDisabled: true,
            backendURL: process.env.VUE_APP_BACKEND_URL
        }
    },

    methods: {
        deleteRecords() {
            axios({
                method: 'get',
                url: this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiDeleteRecord',
                params: {
                    'ids': this.selectedRows
                },
                withCredentials: true
            })
            .then(() => {
                this.$parent.fetchRecordsAfterDelete()
            })
        },

        toast() {
            const vNodesMsg = this.$createElement('p', { class: ['text-center', 'mb-0'] }, ' Deleted selected records ')

            this.$bvToast.toast([vNodesMsg], {
                toaster: 'b-toaster-top-center',
                solid: true,
                variant: 'success',
                noCloseButton: true
            })
        }
    }
}
</script>

<style scoped>
.delete-btn {
  width: 170px;
  margin: 20px;
  margin-left: 0;
}
</style>