<template>
    <span @click="dev_onLogin()" style="color: red; position: fixed; right: 1em; top: 1em; opacity: 0.3">login</span>
</template>

<script>
import { dev_onLogin } from '@/wezeo/cmf/utils/dev.util.js'

export default {
    methods: {
        dev_onLogin
    }
}
</script>