<template>
    <b-button class="add-btn" variant="primary" @click="$parent.navTo('/' + vendor + '/' + pluginName + '/' + controllerName + '/create')">New {{ this.modelName }}</b-button>
</template>

<script>
export default {
    props: {
        controllerName: {
            type: String,
            default: "pets"
        },
        pluginName: {
            type: String,
            default: "pet"
        },
        vendor: {
            type: String,
            default: "appcustomer"
        }
    },
    data() {
        return {
            // domysliet ako ziskavat jednotne cislo z takych slov ako addresses, kde treba odobrat 2 pismena
            modelName: this.controllerName.substr(0, this.controllerName.length-1)
        }
    }
}
</script>

<style scoped>
.add-btn {
  margin: 20px;
  margin-right: 10px;
}
</style>