<template>
  <div>
    <div>
      <div style="display: flex">
        <cmf-add-btn
          :pluginName="pluginName"
          :controllerName="controllerName"
          :vendor="vendor">
        </cmf-add-btn>

        <cmf-delete-btn
          ref="deleteBtn"
          :pluginName="pluginName"
          :controllerName="controllerName"
          :selectedRows="selectedRows"
          :vendor="vendor">
        </cmf-delete-btn>
      </div>


      <vue-good-table
        ref="list"
        :columns="columns"
        :rows="data"
        styleClass="vgt-table striped"
        @on-cell-click="onRowClick"
        :pagination-options="{
          enabled: true,
          perPage: 1000
        }"
        :select-options="{
          enabled: true,
          selectOnCheckboxOnly: true,
          disableSelectInfo: true
        }"
        @on-selected-rows-change="selectionChanged"
      >
      </vue-good-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import '@/assets/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table'
import { parseColumns } from '@/wezeo/cmf/utils/yaml-parser.util.js'

export default {
  components: {
    VueGoodTable,
  },

  data() {
    return {
      data: [],
      columns: [],
      selectedRows: [],
      backendURL: process.env.VUE_APP_BACKEND_URL,
      controllerName: '',
      pluginName: '',
      vendor: ''
    }
  },

  beforeMount() {
    let parsedUrl = window.location.pathname.substr(1).split('/')
    this.vendor = parsedUrl[0]
    this.pluginName = parsedUrl[1]
    this.controllerName = parsedUrl[2]

    this._fetchRecords()
    this._fetchColumns()
  },

  methods: {
    onRowClick(record) {
      this.navTo(this.controllerName + '/update/' + record.row.id)
    },

    navTo(name) {
      this.$router.push(name)
    },

    selectionChanged() {
      this.selectedRows = [];
      this.$refs['list'].selectedRows.forEach(record => {
        this.selectedRows.push(record.id)
      })
    },

    async _fetchRecords() {
      axios
        .get(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiGetList', {
          withCredentials: true
        })
        .then(response => {
          this.data = response.data
        })
        .catch(error => {
          console.log(error)
        })
    },

    async fetchRecordsAfterDelete() {
      axios
        .get(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiGetList', {
          withCredentials: true
        })
        .then(response => {
          this.data = response.data;
          this.$refs.deleteBtn.toast();
        })
        .catch(error => {
          console.log(error)
        })
    },

    _fetchColumns() {
      axios
        .get(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiGetColumns', {
          withCredentials: true
        })
        .then(response => {
          this.columns = parseColumns(response.data)
        })
    }
  }
};
</script>
