<template>
  <b-navbar type="dark">
    <b-navbar-nav>
      <b-nav-item :href="item.url" v-for="item in nav" :key="item.url" :active="item.url === pathname">
        {{ item.label }}
      </b-nav-item>
    </b-navbar-nav>

    <cmf-login-btn></cmf-login-btn>
  </b-navbar>
</template>

<script>
export default {
  mounted() {
    this.pathname = window.location.pathname
  },
  data() {
    return {
      pathname: '',
      nav: [
        {
          url: process.env.VUE_APP_BACKEND_URL,
          label: 'Backend',
          active: false
        },
        {
          url: '/appcustomer/pet/pets',
          label: 'Pets',
          active: false
        },
        {
          url: '/appcustomer/order/orders',
          label: 'Orders',
          active: false
        },
        {
          url: '/appcustomer/customer/addresses',
          label: 'Address',
          active: false
        },
        {
          url: '/appcustomer/order/reviews',
          label: 'Reviews',
          active: false
        },
        {
          url: '/wezeo/survey/paymentmethods',
          label: 'Survey',
          active: false
        },
      ]
    }
  }
}
</script>

<style scoped>
.navbar.navbar-dark {
	background-color: black;
  height: 60px;
}
</style>
