<template>
  <div>
    <div class="form-breadcrumb">
      <ul>
        <li>
          <a :href="'/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName"> {{ firstCharUppercase(this.controllerName) }} </a>
        </li>
        <li v-if="!renderUpdate">
          Create {{ firstCharUppercase(this.modelName) }}
        </li>
        <li v-if="renderUpdate">
          Edit {{ firstCharUppercase(this.modelName) }}
        </li>
      </ul>
    </div>

    <div class="formDiv">
      <vue-form-generator :schema="schema" :model="model"></vue-form-generator>

      <b-button class="formButton" variant="primary" @click="createRecord" v-if="!renderUpdate">Create</b-button>
      <b-button class="formButton" variant="primary" @click="saveRecord" v-if="renderUpdate">Save</b-button>
      <b-button class="formButton" variant="light" @click="prefillForm" v-if="!renderUpdate && controllerName == 'pets'">dev prefill</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { firstCharUppercase } from '@/wezeo/cmf/utils/string.util.js'
import { parseFields } from '@/wezeo/cmf/utils/yaml-parser.util.js'

const api = axios.create({
  withCredentials: true
})

export default {
  data() {
    return {
      backendURL: process.env.VUE_APP_BACKEND_URL,
      model: {},
      yaml: {},
      schema: {
        'fields': []
      },
      pluginName: '',
      controllerName: '',
      modelName: '',
      vendor: '',
      renderUpdate: false
    }
  },

  watch: {
    '$route.params.id': function () {
      this.fetchRecord()
      this.beforeRender()
    }
  },

  beforeMount() {
    this.beforeRender()
    this.fetchFields()
    api.defaults.headers.common['X-CSRF-TOKEN'] = localStorage.csrfToken
    console.log(localStorage.csrfToken)
  },

  methods: {
    firstCharUppercase,

    navTo(name) {
      this.$router.push(name)
    },

    beforeRender() {
      let parsedUrl = window.location.pathname.substr(1).split('/')
      this.vendor = parsedUrl[0]
      this.pluginName = parsedUrl[1]
      this.controllerName = parsedUrl[2]
      this.modelName = this.controllerName.substr(0, this.controllerName.length-1)

      if (parsedUrl[3] == 'update') {
        this.fetchRecord()
        this.renderUpdate = true
      }
    },

    saveRecord() {
      api.post(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiUpdateRecord', {
          'id': this.$route.params.id,
          'record': this.model
        })
        .then(() => {
          this.fetchRecord()
          this.toastUpdated()
        })
    },

    toastUpdated() {
      const vNodesMsg = this.$createElement('p', { class: ['text-center', 'mb-0'] }, this.modelName + ' updated ')

      this.$bvToast.toast([vNodesMsg], {
        toaster: 'b-toaster-top-center',
        solid: true,
        variant: 'success',
        noCloseButton: true
      })
    },

    toastCreated() {
      const vNodesMsg = this.$createElement('p', { class: ['text-center', 'mb-0'] }, this.modelName + ' created ')

      this.$bvToast.toast([vNodesMsg], {
        toaster: 'b-toaster-top-center',
        solid: true,
        variant: 'success',
        noCloseButton: true
      })
    },

    createRecord() {
      api.post(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiCreateRecord', {
          record: this.model
        })
        .then((response) => {
          this.navTo('/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/update/' + response.data.id)
        })
        .then(() => {
          this.toastCreated()
        })
    },

    async fetchRecord() {
      api.get(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiGetRecord', {
          params: {
            'id': this.$route.params.id
          }
        })
        .then(response => {
          this.model = response.data;
        })
        .catch(error => {
          console.log(error)
        })
    },

    fetchFields() {
      api.get(this.backendURL + '/' + this.vendor + '/' + this.pluginName + '/' + this.controllerName + '/apiGetFields')
        .then(response => {
          this.schema['fields'] = parseFields(response.data);
        })
    },

    prefillForm() {
      this.model = {
        'age': "young",
        'breed': "boxer",
        'castrated': 1,
        'friendly': 0,
        'name': "prefill pes",
        'sex': "male",
        'size': "big",
        'user_id': 10,
        'vaccinated': 1
      }
    }
  }
};
</script>